# Dependencies
node_modules

# Production
dist

# Local
.DS_Store
*.local

# Logs
*.log

# Environment variables
.env
.env.local

# Database credentials
backend/config/database.php
apdc_attendance.sql
